{% extends 'base.html' %}

{% block content %}

<!-- <h1>Доступные фильмы</h1> -->



<!-- <table class="table mt-3">
    <tbody>
        <tr>
            <td>Название фильма</td>
            <td>{{ films.name }}</td>
        </tr>
        <tr>
            <td> год </td>
            <td> {{ films.year }}</td>
        </tr>
        <tr>
            <td> Актеры </td>
            <td>{{ films.actor }}</td>
      
        </tr>
    </tbody>
</table> -->
<div class="text-center d-flex">
  <div class="m-auto w-75">

      <h1 class="mb-5 font-weight-bold">Фильмы</h1>

      <div class="row row-cols-1 row-cols-md-2">
          {% for films in films %}
          <div class="col mb-4">
              <div class="card h-100">
                  
                  <div class=" d-flex align-items-end h-100">
                      <div class="card-body">
                          <h3 class="card-title">{{ films.name }}</h3>
                          <p class="card-text"><small class="text-muted">{{ films.year }} год</small></p>
                          <p class="card-text"><small class="text-muted">{{ films.description }}</small></p>
                      </div>
                  </div>
                  
                  <div class="card-footer">
                    {% if current_user.is_authenticated %}
                      <div class="btn-group w-100" role="group" aria-label="Basic example">
                        
                        
                            <a  href="{{ url_for('show2', films_id=films.id) }}" type="button"
                            class="btn btn-dark">Просмотр</a>
                            
                            {% if current_user.can('edit2', record=films) %}
                            <a class="btn btn-secondary" href="{{ url_for('edit2', films_id=films.id )}}" type="button"> Редактировать </a>
                            {% endif %}
                            
                            {% if current_user.can('delete2', record=film) %}
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-films-modal" data-dilms="{{ films.name }}" data-url="{{ url_for('delete2', films_id=films.id)}}">
                                Удалить
                            </button>  
                            {% endif %}     
                           
                      </div>
                    {% endif %}
                      
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>

      {% if current_user.is_authenticated %}
        <a class="btn btn-primary " href="{{ url_for('new2') }}">Добавить фильм</a>
      {% endif %}

  </div>
</div>





<!-- <table class="table">
    <thead>
        <tr>
            
            <th>Название Фильма </th>
            <th>Год выпуска</th>
            <th>Страна</th>

        </tr>
    </thead>
    <tbody>
    {% for films in films %}
      
      
      <tr>
          <td >{{ films.id }}</td>
          <td class="films-name">{{ films.name }}</td>
          <td>{{ films.year }}</td>
          <td>{{ films.country }}</td>
          <td>
            
              {% if current_user.is_authenticated %}
                <div class="btn-group">
                    <a class="btn btn-primary" href="{{ url_for('show2', films_id=films.id) }}">Просмотр</a>
                    
                    {% if current_user.can('edit2', record=films) %}
                    <a class="btn btn-secondary" href="{{ url_for('edit2', films_id=films.id )}}"> Редактировать </a>
                    {% endif %}
                    
                    {% if current_user.can('delete2', record=film) %}
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-films-modal" data-dilms="{{ films.name }}" data-url="{{ url_for('delete2', films_id=films.id)}}">
                        Удалить
                    </button>  
                    {% endif %}     
                   
                </div>
              {% endif %}
           </td>
          
      </tr>
      
    {% endfor %}
    </tbody>
</table> -->



<div class="modal" tabindex="-1" role="dialog" id="delete-films-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Удаление фильма</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <p>Вы уверены, что хотите удалить фильм <span id="films-name"></span> ?</p>
              <form action="" method="POST" class="d-none">
                  <input type="submit" name="delete-btn" id="delete-btn">
              </form>
          </div>
          <div class="modal-footer">
              <label for="delete-btn" class="btn btn-danger mb-1">Да</label>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          </div>
      </div>
  </div>
</div>
{% endblock %}