{% extends 'base.html' %}


{% block content %}

<h1 class="my-5">Просмотр данных пользователя</h1>

<table class="table mt-3">
    <tbody>
        <tr>
            <td>Название фильма</td>
            <td>{{ films.name }}</td>
        </tr>
        <tr>
            <td>Описание</td>
            <td>{{ films.description }}</td>
        </tr>
        <tr>
            <td>Год выпуска</td>
            <td>{{ films.year }}</td>
        </tr> 
        <tr>
            <td>Страна</td>
            <td>{{ films.country }}</td>
        </tr> 
        <tr>
            <td>Режисер</td>
            <td>{{ films.director }}</td>
        </tr> 
        <tr>
            <td>Актеры</td>
            <td>{{ films.actor }}</td>
        </tr>
        <tr>
            <td>Хронометраж</td>
            <td>{{ films.duration }}</td>
        </tr>
      

    </tbody>
</table>



{% endblock %} -->