{% extends 'base.html' %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="http://webdev-exam-2020-2-asdcxz.std-1201.ist.mospolytech.ru/films/12/show"><img class="rounded" src="{{ url_for('static', filename='1917.png') }}"></a>
        </div>
        <div class="carousel-item">
            <a href="http://webdev-exam-2020-2-asdcxz.std-1201.ist.mospolytech.ru/films/17/show"><img class="rounded" src="{{ url_for('static', filename='Tenet.png') }}"></a>
        </div>
        <div class="carousel-item">
            <a href="http://webdev-exam-2020-2-asdcxz.std-1201.ist.mospolytech.ru/films/11/show"><img class="rounded" src="{{ url_for('static', filename='BR.png') }}"></a>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<p class="text-center mt-5">EMDb (an acronym for Efremov Movie Database) 
    is an online database of information related to films – 
    including cast, production crew and personal.</p>

<p class="text-center mt-5">As of January 2021, EMDb has approximately 
    {{ count_films.count_t }} titles, as well as {{ count_users.count_u }} registered users.</p>

{% endblock %}